@import (reference) "./dynamic";
html, body, #app {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
* {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: @fontColor;
  font-weight: normal;
}
#app {
  background-color: @backColor;
}
