html, body, #app {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ivu-menu-submenu-title, .ivu-menu-item {
  text-align: left;
}
// 表格内部操作列样式
.table-cell-actions-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  button {
    margin-left: 10px;
  }
  button:first-child {
    margin-left: 0;
  }
}
